extends ../layouts/main

block content
    div.wrapper
        section.authorization
            h1.authorization__title Регистрация
            if error
                .error-message= error
            .authorization__container
                form#registration-form(action="/auth/register", method="POST")
                    .authorization__option
                        input(type="text", id="first-name", name="firstName", required, placeholder="Имя")
                        input(type="text", id="last-name", name="lastName", required, placeholder="Фамилия")
                        input(type="tel", id="phone", name="phone", required, placeholder="Телефон")
                        input(type="email", id="email", name="email", required, placeholder="E-mail")
                        input(type="password", id="password", name="password", required, placeholder="Пароль")
                        .authorization__option-control-group
                            button(type="submit") Зарегистрироваться
                            .authorization__option-control
                                a(href="#") Не помню пароль
                                a(href="/auth/login") Вход
