.mobile-bottom-menu
    a.mobile-bottom-menu__item(href="/catalog")
        img(src="/images/icons/fi-rr-apps.svg", alt="Каталог")
        span Каталог
    a.mobile-bottom-menu__item(href="/favorites")
        img(src="/images/icons/fi-rr-heart.svg", alt="Избранное")
        span Избранное
    a.mobile-bottom-menu__item(href="/cart")
        img(src="/images/icons/fi-rr-shopping-cart.svg", alt="Корзина")
        span Корзина
    a.mobile-bottom-menu__item(href="auth/login")
        img(src="/images/icons/fi-rr-user.svg", alt="Войти")
        span Войти
