footer.footer
    hr.footer__hr-top
    .footer__container
        a.footer__logo(href="#")
            img.footer__logo-image(src="/images/logo.jpg", alt="Основное изображение логотипа")
        .footer__description
            .footer__inform
                .footer__address
                    img.footer__address-icons(src="/images/icons/geo-alt-fill.svg", alt="Иконка карты")
                    a.footer__address-link(href="https://yandex.ru/maps/-/CHurFQ64", target="_blank") г. Партизанск, ул. Замараева, 5
                p.footer__working-hours Работаем с 8:00-19:00 <br> Доставка с 8:30-18:00
                .footer__telephone
                    a.footer__telephone-number(href="tel:+79146627911", target="_blank") +7 914 662-79-11
                    p.footer__telephone-description Ответим на все вопросы!
            .footer__social-networks
                a.footer__social-network-item(href="https://t.me/lavandapartizansk", target="_blank") Telegram
                a.footer__social-network-item(href="https://wa.me/79146627911?text=Здравствуйте", target="_blank") WhatsApp
                a.footer__social-network-item(href="https://www.instagram.com/lavanda_prt/", target="_blank") Instagram*
                p.footer__social-network-item.complement-text * принадлежит компании Meta, которая признана экстремистской и запрещена на территории РФ
    hr.footer__hr-bottom
    .footer__bottom
        p.footer__conf 2018 - 2025 Цветочный магазин "Лаванда"
            //p#loading-server-info.footer__loading
            //    | на сервере: #{elapsedTime}
        a.footer__web-developer(href="https://annagonos.github.io/web-portfolio/", target="_blank")
            p Веб-сайт разработан <ins>gonosanna</ins>



