.header__dropdown-menu(id="dropdown-menu")
    ul.dropdown-menu__left
        li.dropdown-menu__item.active(data-target="bouquets")
            a(href="/catalog") Каталог букетов
            img(src="/images/icons/chevron-right.svg" alt=">" class="dropdown-menu__icon")

        li.dropdown-menu__item(data-target="clients")
            p Клиентам
            img(src="/images/icons/chevron-right.svg" alt=">" class="dropdown-menu__icon")

        li.dropdown-menu__item
            a(href="" class="dropdown-menu__link") О нас

        li.dropdown-menu__item
            a(href="/contacts" class="dropdown-menu__link") Контакты

    .dropdown-menu__right
        ul.dropdown-menu__content.active(id="bouquets")
            li
                a(href="/catalog?category=Онлайн-витрина") Онлайн-витрина
            li
                a(href="/catalog?category=Монобукеты") Монобукеты
            li
                a(href="/catalog?category=Дуобукеты") Дуобукеты
            li
                a(href="/catalog?category=Цветочные композиции") Цветочные композиции
            li
                a(href="/catalog?category=Большие wow-букеты") Большие wow-букеты
            li
                a(href="/catalog?category=Свадебные") Свадебные
            li
                a(href="/catalog?category=Подарки и предметы для дома") Подарки и предметы для дома

        ul.dropdown-menu__content(id="clients")
            li
                a(href="#") Доставка
            li
                a(href="#") Вопрос-ответ
            li
                a(href="/reviews") Отзывы
            li
                a(href="#") Уход за букетом
