link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap", rel="stylesheet")
link(rel="stylesheet", href="/css/outlines.css")
link(rel="icon", type="image/png", href="/images/logotype.jpg")
script(src="https://cdn.jsdelivr.net/npm/toastify-js ")
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css ")

script(src="/js/dropdown-menu.js")
script(src="/js/menuList.js")
script(src="/js/activeMenu.js")
script(src="/js/messenger.js")
script(src="/js/toggleCart.js")
script(src="/js/toggleFavorite.js")
