extends layouts/main
include mixins/cart-item

block content
    div.wrapper
        section.cart
            h1.cart__title= pageTitle

            .cart__container
                .cart__list
                    .cart__remove
                        button#clear-cart Очистить корзину

                    if cartItems && cartItems.length > 0
                        each item in cartItems
                            +cart-item(item)
                    else
                        p Корзина пуста.

                .cart__decoration
                    h2 Ваш заказ

                    .cart__sum
                        span Сумма
                        span#original-sum= originalSum + ' ₽'

                    .cart__sum.cart__sum--sale
                        span Скидка
                        span#discount-amount= '-' + discountAmount.toFixed(2) + ' ₽'

                    hr.cart__divider

                    .cart__sum.cart__sum--total
                        span Итого
                        span#total-sum= (originalSum - discountAmount).toFixed(2) + ' ₽'

                    a(href="/orders" class="cart__button") Оформить заказ


