<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords">
    <meta name="description">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/outlines.css">
    <link rel="icon" type="image/png" href="images/logotype.jpg">
    <script src="/js/menuList.js"></script>
    <script src="/js/scrollTop.js"></script>
    <script src="/js/activeMenu.js"></script>
    <script src="/js/messenger.js"></script>
</head>
<body>
<header class="header" id="header"><a class="header__logo" href="#"><img src="images/logo.jpg"
                                                                         alt="Основное изображение логотипа"></a>
    <div class="header__list"><img class="header__list-item" id="header-list" src="images/icons/list.svg" alt=""><img
            class="header__list-item" id="header-cancel" src="images/icons/x-lg.svg" alt=""></div>
    <nav class="header__menu">
        <ul class="header__menu-list" id="menu-list">
            <li class="header__menu-item"><a class="header__menu-link" href="catalog.html">Каталог</a></li>
            <li class="header__menu-item"><p class="header__menu-link">Клиентам</p>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a class="dropdown-link" href="delivery.html">Доставка</a></li>
                    <li class="dropdown-item"><a class="dropdown-link" href="faq.html">Вопрос-ответ</a></li>
                    <li class="dropdown-item"><a class="dropdown-link" href="reviews.html">Отзывы</a></li>
                    <li class="dropdown-item"><a class="dropdown-link" href="care.html">Уход за букетом</a></li>
                </ul>
            </li>
            <li class="header__menu-item"><a class="header__menu-link" href="blog.html">Блог</a></li>
            <li class="header__menu-item"><a class="header__menu-link" href="contacts.html">Контакты</a></li>
        </ul>
    </nav>
    <div class="header__menu-person"><a class="header__menu-person-link" href=""><img class="header__menu-person-icon"
                                                                                      src="images/icons/search.svg"
                                                                                      alt="Поиск"></a><a
            class="header__menu-person-link" href=""><img class="header__menu-person-icon" src="images/icons/heart.svg"
                                                          alt="Избранное"></a><a class="header__menu-person-link"
                                                                                 href=""><img
            class="header__menu-person-icon" src="images/icons/bag.svg" alt="Корзина">
        <p class="header__menu-person-link-count">21</p></a><a class="header__menu-person-link" href=""><img
            class="header__menu-person-icon" src="images/icons/person.svg" alt="Личный кабинет"></a></div>
</header>
<section class="online">
    <div class="online__header"><h2 class="online__title">Онлайн-витрина</h2>
        <p>Можно забрать прямо сейчас из магазина</p></div>
</section>
<footer class="footer">
    <hr class="footer__hr-top">
    <div class="footer__container"><a class="footer__logo" href="#"><img class="footer__logo-image"
                                                                         src="images/logo.jpg"
                                                                         alt="Основное изображение логотипа"></a>
        <div class="footer__description">
            <div class="footer__inform">
                <div class="footer__address"><img class="footer__address-icons" src="images/icons/geo-alt-fill.svg"
                                                  alt="Иконка карты"><a class="footer__address-link"
                                                                        href="https://yandex.ru/maps/-/CHurFQ64"
                                                                        target="_blank">г. Партизанск, ул. Замараева,
                    5</a></div>
                <p class="footer__working-hours">Работаем с 8:00-19:00 <br> Доставка с 8:30-18:00</p>
                <div class="footer__telephone"><a class="footer__telephone-number" href="tel:+79146627911"
                                                  target="_blank">+7 914 662-79-11</a>
                    <p class="footer__telephone-description">Ответим на все вопросы!</p></div>
            </div>
            <div class="footer__social-networks"><a class="footer__social-network-item"
                                                    href="https://t.me/lavandapartizansk" target="_blank">Telegram</a><a
                    class="footer__social-network-item" href="https://wa.me/79146627911?text=Здравствуйте"
                    target="_blank">WhatsApp</a><a class="footer__social-network-item"
                                                   href="https://www.instagram.com/lavanda_prt/" target="_blank">Instagram*</a>
                <p class="footer__social-network-item complement-text">* принадлежит компании Meta, которая признана
                    экстремистской и запрещена на территории РФ</p></div>
        </div>
    </div>
    <hr class="footer__hr-bottom">
    <div class="footer__bottom"><p class="footer__conf">© 2018 - 2025 Цветочный магазин "Лаванда". Все права
        защищены.</p><a class="footer__web-developer" href="https://annagonos.github.io/web-portfolio/" target="_blank">
        <p>Веб-сайт разработан
            <ins>gonosanna</ins>
        </p>
    </a></div>
</footer>
</body>
</html>