extends layouts/main

include partials/product

block content
    section.online
        div.online__header
            h2.online__title Онлайн-витрина
            p Можно забрать прямо сейчас из магазина
        div.online__container
            each product in products
                +product(product)
