extends ../../layouts/main
include ../../mixins/backButton

block content
    div.wrapper
        section.products
            div.florist__navigation
                +backButton('/florist/products', 'Назад')

            h1.products__title= pageTitle

            div.products-florist__container#archived-products-container
                p Загрузка товаров...


    script(src="/js/archived-product.js")
