extends ../layouts/main

block content
    section.reviews
        h1.page-title Добавить отзыв
        form(action="/reviews", method="POST")
            label(for="rating") Рейтинг:
            input(type="number", name="rating", id="rating", required)

            label(for="description") Описание:
            textarea(name="description", id="description")

            button(type="submit") Добавить

