extends ../layouts/main

block content
    section.reviews
        h1.page-title Изменить отзыв
        form(action=`/reviews/${review.id}`, method="POST")
            input(type="hidden", name="_method", value="PATCH")

            label(for="rating") Рейтинг:
            input(type="number", name="rating", id="rating", value=review.rating, required)

            label(for="description") Описание:
            textarea(name="description", id="description")= review.description

            button(type="submit") Сохранить